# Server Port
PORT=8000

# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

# Mail (MailHog local)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=
SUPPORT_EMAIL=
APP_LOGO_URL=

# App
APP_BASE_URL=http://localhost:8000/api
WS_ALLOWED_ORIGINS=http://localhost:3000
APP_NAME=Email Sender

# Redis
REDIS_URL=

# CORS Origins
CORS_ALLOWED_ORIGINS=http://localhost:3000